* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", serif;
  font-weight: 500;
  font-style: normal;
  font-kerning: none;
  text-decoration: none;
}

body {
  background-image: url(/Proyectos\ del\ curso/Portfolio\ trabajo\ practico\ n1\ Agustin\ Botana/assets/ligth.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cont-menu li a {
  font-weight: 450;
  font-style: normal;
  color: rgb(148, 148, 148);
  font-kerning: none;
  text-decoration: none;
  font-size: 45px;

}

.cont-menu li a:hover {
  color: white;
}

.cont-menu {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  gap: 50px;
  list-style: none;
  padding-top: 100px;
  font-size: 30px;
}

.cont-sobre-mi {
  color: #000000;
  padding-top: 300px;
}

.cont-sobre-mi h1 {
  font-size: 250px;
}

.cont-sobre-mi p {
  font-size: 57px;
}