*{
    margin: 0;
    padding: 0;
}
 
.container {
    background-color: yellowgreen;
    padding: 20px;
    display: flex;
    height: 200px;
    /* justify-content - eje x*/
    justify-content: center;
    /* align-items - eje y*/
    align-items: center;
    gap: 20px;

}

p { 
    background-color: bisque;
}